.Button {
    height: 40px;
    padding: 0 15px;
    background-color: var(--dark);

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.Button:hover {
    background-color: var(--more-dark);
    cursor: pointer;
}

.Button__icon {
    margin-right: 10px;
    font-size: 20px;
}

.Button__text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
