@import url('./components/page/Page.css');
@import url('./configs/variables.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

button {
    border: none;
    border-radius: 0;
    background-color: transparent;
}

button, textarea, input {
    font-family: inherit;
    font-size: inherit;
}